version: "3.8"

services:
  db:
    image: postgres:15
    container_name: rubbershop-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: rubbershop-backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build: ./pos-ui
    container_name: rubbershop-pos
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  pgdata:
